body {
	background-color :#77cdf6
}

table {
	margin: 0px auto;
}

table td {
	border: 1px solid black;
	width: 50px;
	height: 50px;

}

.controls {
	text-align: center;
}


.pause{
  display: none;
}

.speed{
  margin-top: 5px;
  height: 11px;
  width: 50px;
  display: inline-block;
}